streamlit==1.39.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
nltk==3.9.1
textblob==0.18.0.post0
tensorflow==2.16.2
keras==3.5.0
matplotlib==3.9.2
joblib==1.4.2
regex==2024.9.11
symspellpy==6.7.8
Sastrawi==1.0.1
